@charset "utf-8";
@import "foo.css";
aaa {
  abc,
  def,
  ghi {
    ---
    ???
    #*(#*@$*&
    aa: bbbbb ccccc;
    a b c d e f
    color: ;
    font: serif;
    background: = 'blue';
    z-index: (1 + 1);
  }
  xxx {
    color: black;
    ppp,
    ccc {
      visibility: b;
    }
  }
}

xyz, lmn,
123, 456 {
  &(foo)-(bar),
  &:first-child {
    position: relative;
    opacity: 0;
    z-index: -1;
  }
}

hhh {
  ul {
    li {
      a {
        color: pink;
      }
    }
  }
  b {
    color: orange;
  }
}

ggg {
  hhh
  iii
}