aaa {
  bbb,
  bbb,
  bbb {
    ---
    ???
    #*(#*@$*&
    aa: bbbbb ccccc;
    a b c d e f
    color: ;
    font: serif;
    background: = 'blue';
    z-index: (1 + 1);
  }
}

ggg,
ggg,
ggg {
  hhh
  iii
}